// colors used for the project
$primary-color: #4b4b21;
$secondary-color: #a659a3;
$white-color: #fff;
$gray-color: #657;
$black-color: #000;

// fonts variable
$navfont: "Oswald", sans-serif;
$textfont: "STIX Two Math", serif;

/* css reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* body styling */
body {
  font-family: $textfont;
  font-size: 100%;
  width: 100%;
  max-width: 100%;
}

/* main page container starts here */

/* Main body body of the web page */

/* header section */
header {
  text-align: center;
  background: url("../img/banner.jpg") no-repeat center center;
  background-size: cover;
  height: 35em;
  grid-area: banner;
}
nav {
  background-color: #000;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

nav ul li {
  font-size: 0.7em;
  letter-spacing: 0.2em;
  flex: 1 1 50%;
  text-transform: uppercase;
}

nav ul li a {
  display: block;
  padding: 0.5em 1em;
  margin: 0.25em;
  text-decoration: none;
  font-size: 1.2em;
  font-family: $navfont;
  color: white;
  border: none;
  border-radius: none;
}
nav ul li a:hover {
  background-color: #a659a3;
  color: $white-color;
  border-radius: 0.5em;
}

.hero {
  margin-top: 2em;
}

img {
  width: 15%;
  border-radius: 50%;
  border: 2px double;
  position: absolute;
  left: 10px;
  margin-top: 5px;
}

.hi {
  font-size: 2em;
  color: $gray-color;
}

.hello {
  font-size: 3em;
  display: block;
  font: $textfont;
  color: #505050;
  text-transform: uppercase;
  text-shadow: 2px 2px 1px #e2e2e2;
  text-align: center;
  padding-top: 2.7em;
  font-weight: bolder;
}

span.dev {
  font-size: 1.4em;
  text-transform: uppercase;
  color: #e2e2e2;
  text-shadow: 2px 2px 2px #000;
  display: block;
  text-align: center;
  margin-top: 0.1em;
  font-weight: 700;
  letter-spacing: 0.1em;
}

main {
  grid-area: main;
  font-size: 1em;
  color: $gray-color;
  margin: 2.5%;
}

.intro {
  padding-top: 30px;
  letter-spacing: 0.02em;
  word-spacing: 2px;
  width: 90%;
  margin: 0 auto;
}

.intro p {
  line-height: 30px;
  font-size: 1.2em;
}

.skills {
  width: 100%;
  margin: 0 auto;
}
.skills h4 {
  padding-top: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1em;
  border-bottom: 2px solid;
  padding-bottom: 3px;
  width: 90%;
  margin: 0 auto;
}

.left,
.right {
  width: 45%;
  margin: 15px auto;
}
.left {
  float: left;
}
.right {
  float: right;
}

.stuff {
  margin-top: 10px;
  text-align: center;
}

.stuff li {
  padding-top: 5px;
  text-transform: uppercase;
  font-size: 1.1em;
}
.right h3,
.left h3 {
  text-align: center;
  font-size: 1.1em;
  margin-top: 10px;
  text-transform: uppercase;
  font-family: $textfont;
  padding-bottom: 5px;
}

.experience {
  clear: both;
  padding-top: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1em;
  border-bottom: 2px solid;
  padding-bottom: 3px;
  width: 90%;
  margin: 0 auto;
}
h2 {
  text-align: center;
  font-size: 1.1em;
  margin-top: 10px;
  text-transform: uppercase;
  font-family: $textfont;
  border-bottom: 1px solid;
  padding-bottom: 5px;
}
footer {
  grid-area: footer;
  text-align: center;
  margin-top: 5px;
  background-color: #413e3e;
  color: $white-color;
}

.contact ul {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 70px;
}

.contact ul li {
  padding-left: 10px;
}

footer h3 {
  color: $gray-color;
  font-family: $textfont;
  font-weight: 800;
  font-size: 1.3em;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: $black-color;
  margin-top: 10px;
}

.copyright {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.8em;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid $black-color;
  width: 90%;
  margin: 0 auto;
}

.fa-facebook {
  color: #4267b2;
}

.fa-twitter {
  color: #00acee;
}

.fa-linkedin {
  color: #0e76a8;
}

.fa-github {
  color: #4078c0;
}

.fab {
  font-size: 2em;
  padding-left: 20px;
}

.fab:hover {
  color: #e2e2e2;
}

/* Responsive Design*/
@media screen and (min-width: 940px) {
  #container {
    display: grid;
    grid-template-rows: auto min-height 5em;
    grid-template-columns: minmax(25em, 1fr) 16em;
    grid-template-areas:
      "banner banner"
      "main main"
      "footer footer";
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }
}

@media screen and (min-width: 280px) {
  .hello {
    font-size: 1.49em;
    padding-top: 3.7em;
  }

  span.dev {
    font-size: 1em;
  }

  nav ul li a {
    border-radius: 0.235em;
    border: 1px solid $white-color;
  }

  header {
    height: 18em;
  }
}

@media screen and (min-width: 400px) {
  nav ul {
    justify-content: center;
  }
  nav ul li {
    flex: none;
  }

  header {
    height: 22em;
  }
  .hello {
    font-size: 1.8em;
    padding-top: 6em;
  }

  nav ul li a {
    border-radius: none;
    border: none;
  }
}
